.about
	.row
		.offset-md-3.col-md-6.centered.about-us
			%h1 About Us - Our Story
			%br
			%p It was only through pure serendipity that I gave up by my career as a biotech chemist 20 years ago and became a cosmetic chemist. Having always had a minimalist approach to skincare, the beauty industry was not something I was consciously aware of. But never was I more grateful that I became one than that day, 5 years ago, when my daughter was diagnosed with vitiligo.
			%br
			%p Vitiligo, seasonal eczema, teen acne...These are skin conditions my beautiful 16-year- old daughter struggles with today. Rosacea, adult acne, and perioral dermatitis…They are all skin conditions I, personally, have been managing for almost 30 years now. As frustrating as it has been to deal with them, they are what have made me an uncompromising chemist and I owe my passion for helping others to them.
			%br
			%p 25 years spent as a biotech/cosmetic chemist, endless hours of formulating and reformulating, my 30-year struggle with problem skin, and the last 7 years spent studying the positive effects of personalized skincare have culminated here in the launching of 3toZEN, where the focus is placed on helping others who live with problem skin manage their conditions and lead happy lives. In getting to this point, there have been a lot of rough moments along the way, but it is serendipity that guides me through it all and, most importantly, to you.
			%br
			%p 3toZEN and I look forward to getting to know you and your skin’s unique needs.
			.headshot
				=image_tag "Sopiea_headshot.jpg"
			%br