.row
  .col-md-12.centered
    %h1.green Checkout

.container
  .jumbotron
    .row
      .col-md-6.offset-md-3.centered
        %h4 OUT OF THE 8 MILLION SKIN CASES WE ANALYZED
        %p 140,000 people have similiar skin as you

    .row.centered
      .col-md-10.offset-md-1{style: 'background: white;'}
        .row
          .col-md-6.cell
            .row
              .col-md-12
                %strong Skin Tone
                %p Tan
          .col-md-6.cell
            .row
              .col-md-12
                %strong Skin Type
                %p Sensitive, Dry
        .row
          .col-md-6.cell
            .row
              .col-md-12
                %strong Stress Level
                %p A little
          .col-md-6.cell
            .row
              .col-md-12
                %strong Concerns
                %p Wrinkles, Aging

.section-2.centered
  .row
    .col-md-6.offset-md-3
      %h1 Pre Launch Special. 50% First Month
      %h1 <strike>$148.00</strike> $79.00



.container-fluid.centered
  .row
    .col-md-4.offset-md-2
      = image_tag "product.jpg", class: "product"
      %p Soothing Concentrate
      %p Begin your personalized regimen with a soothing toner. Contains a blend of Proven Ingredients™ and active Pomegranate Extract, to brighten skin, calming Tasmanian Pepper Extract, and Burdock Root, to clear irritation.
    .col-md-4
      = image_tag "product.jpg", class: "product"
      %p Daily Cleanser
      %p Use our tailor-made serum everyday for glowing, more youthful skin. Infused with naturally hydrating antioxidant, it also contains a concentrated blend of Proven Ingredients™, active Ceramides, to keep skin supple, hydrating Hyaluronic Acid, and Vitamin C. Apply after toning.

  .row
    .col-md-6.offset-md-3
      =link_to "Continue", order_path, class: "btn btn-green"