.contact
	.hero
		=image_tag "contact_hero_2.jpg", class: "img-fluid"
%br
.contact
	.row
		.offset-md-3.col-md-6.centered
			%h1 Contact Us
	.row
		.col-md-6.centered
			%p= "Contact email: #{link_to 'sopiea@3toZen.com', 'mailto:sopiea@3toZen.com'}".html_safe 
		.col-md-6.form
			%p.centered Send a message.
			=form_for :messages, url: contact_path do |f|
				=f.label :name
				%br
				=f.text_field :name
				%br
				=f.label :email
				%br
				=f.text_field :email
				%br
				=f.label :subject
				%br
				=f.text_field :subject
				%br
				=f.label :body
				%br
				=f.text_area :body
				%br
				=f.submit "Send"

			- flash.each do |key, value|
				.alert{ :class => "alert-#{key}" }
					%button.close{ :data => { :dismiss => "alert" } } x
					%strong
						= value
