=image_tag "faq_hero.jpg", class: "img-fluid"
.faqs
	.row
		.offset-md-3.col-md-6
			%br
			%h1 FAQs
			%p Let's see if we can answer your questions. Here's some commonly asked questions below.
			%br
			%br
		.offset-md-1.col-md-6.questions
			%h2 What is 3toZen?
			%p This is what it do.
			%br
			%h2 Why 3toZen?
			%p This is why.
			%br
			%h2 Cool, where can I buy?
			%p This is where.