
.section-1
  .row
    .tag-line.offset-md-6.col-md-6
      %h2 Personalized Skincare
      %h2 Unique to Your Skin and Lifestyle
      %h2 By Your Very Own Cosmetic Chemist
      = link_to "Get Started", "#", class: "btn btn-primary", data: {toggle: "modal", target: "#skincare-wizard-modal"}

.section-2.centered
  .container
    .row
      .col-md-10.offset-md-1
        %h1 Skincare is most effective, when it is formulated for you.
    %br
    %br
    .row
      .col-md-4
        .fa.fa-user-circle.fa-5x
        %h3 Personalization
        %p Precision skincare. Unique to your needs, lifestyle, and environment.
      .col-md-4
        .fa.fa-android.fa-5x
        %h3 AI
        %p With you as an essential part of our formulative process, we are teaching our algorithms to achieve skincare solutions that will fit you best.
      .col-md-4
        .fa.fa-pagelines.fa-5x
        %h3 Sustainability
        %p Green chemistry that is in sync with our environment, committed to respecting human rights, and protecting cultural heritage.
    %br
    .row
      .col-md-4.offset-md-4
        = link_to "Get Started", "#", class: "btn btn-primary", data: {toggle: "modal", target: "#skincare-wizard-modal"}
    %br

.section-3
  .container-fluid
    .row.centered
      .offset-md-3.col-md-6
        %br
        %h1 Collaborated With
    .row
      .col-md-2.offset-md-1
        .facebook
          =image_tag "fblogo.jpg", class: "img-fluid"
      .col-md-2.offset-md-1
        .quint
          =image_tag "quintessentiallylogo.png", class: "img-fluid"
      .col-md-2.offset-md-1
        .wsj
          =image_tag "wsjdlivelogo.jpg", class: "img-fluid"
      .col-md-2.offset-md-1
        .nokid
          =image_tag "nokidhungry.jpg", class: "img-fluid"
.section-4.centered
  .container-fluid
    .row
      .col-md-12.no-padding
        %h1 Get Started in 3 Steps.
    %br
    .row
      .col-md-3.no-padding
        %h3.heavy.centered 1
        %p Take our online assessment.
      .col-md-9.no-padding
        =image_tag "step1.jpg", class: "img-fluid"
    .row
      .col-md-9.sofia.no-padding
        =image_tag "Sofia_AI.jpg"
      .col-md-3.no-padding
        %h3.heavy.centered 2
        %p Your initial results analyzed by Sofia, our AI.
    .row
      .col-md-3.no-padding
        %h3.heavy.centered 3
        %p Complimentary face-to-face consultation with our cosmetic chemists virtually via FaceTime, Skype, Whatsapp.
      .col-md-9.no-padding
        =image_tag "step3.jpg", class: "img-fluid"
.section-5
  .container-fluid
    .row
      .col-md-12.centered
        %h1 Testimonials
    %br
    .row
      .col-md-4.testimonial-images
        .centered
          =image_tag "Tracy.jpg", class: "img-fluid"
        .row.centered
          .col-md-12
            %h2 Tracy
        .row
          .col-md-8.offset-md-2
            %h3 CA
            %p <i>“I am hooked! My skin tends to be dry and easily irritated…I got compliments all day on how great my skin looked…I have never encountered a product that worked so well!”</i>
      .col-md-4.testimonial-images
        .centered
          =image_tag "George.jpg", class: "img-fluid"
        .row.centered
          .col-md-12
            %h2 George
        .row
          .col-md-8.offset-md-2
            %h3 CA
            %p <i>“There are different formulas for winter vs summer, so it changes with the seasons, and when things get off track we run through the question series again to troubleshoot what’s going on and change up my formulas. It’s simple prevention.”</i>
      %br
      .col-md-4.testimonial-images
        .centered
          =image_tag "Tiffany.jpg", class: "img-fluid"
        .row.centered
          .col-md-12
            %h2 Tiffany
        .row
          .col-md-8.offset-md-2
            %h3 CA
            %p <i>”I have been a client of custom skin care for 3 years and it has truly changed my skin in all the right ways! My lines have softened and my skin is more radiant and even in tone…I appreciate how much research is put into each and every ingredient. I plan to be a client for life!”</i>

.modal.fade#skincare-wizard-modal
  .modal-dialog.modal-lg
    .modal-content
      #skincare-wizard-react{data: ReactProps::SkinCare.props}

= javascript_pack_tag 'skincare-wizard/main'


