.row.centered
  .col-md-6.offset-md-3
    %br
    %h1 Checkout
.row.centered
  .col-md-6.offset-md-3
    = image_tag "product.jpg", class: "img-fluid"
    %p Based on your answers, we've specifically designed