<script src="https://checkout.stripe.com/checkout.js"></script>
.container-fluid
  .row
    .col-md-12
      %h1.centered.green Order Page
      %hr
  .row
    .col-md-6.offset-md-3.centered
      = image_tag "product.jpg", class: "product"

  = form_tag charges_path do

    #order-selection-react{data: ReactProps::OrderSelection.props}
    .row.centered
      .col-md-6.offset-md-3
        = image_tag "stripe2.png", class: "stripe-button"
    %br

= javascript_pack_tag "order-selection/main"