// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green:#00a95c;
$grey-background: #f8f9fa;

strike { color: red }
.green {color: $green }
.btn-green {
  background-color: $green;
  color: white;
}

.home {
  h1 { padding: 40px 0px;}
  h3 { padding-top: 40px;}
  .btn { margin-top: 20px;}

  .section-1 {
    height: 1000px;
    padding: 50px 0px;
    background-image: image-url("home_hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    color: white;
    .tag-line {
      margin-top: 100px;
      padding-left: 50px;
    }
  }

  .section-2 {
    background-color: $grey-background;
    padding: 50px 0px;
    h1 { color: $green; }
    .fa {
      padding: 25px 30px;
      margin-bottom: 15px;
      border: 1px solid $green;
      border-radius: 100%;
    }
    .fa-user-circle {
      // 2nd fa icon req dif padding and margin to be complete circle
      padding: 28px 30px;
      margin-bottom: 11px;
    }
    h3 { padding-bottom: 15px; }
  }

  .section-3 {
    h1 { color: $green; }
    text-align: center;
    .row {
      .col-md-2 {
        padding-top: 10px;
        .facebook {
          padding: 0px 35px 30px 35px;
        }
        .quint {
          padding-top: 20px;
        }
      }
    }
  }

  .section-4 {
    background-color: $grey-background;
    h1 {color: $green; }
    .sofia {
      img {
        width: 100%;
      }
    }
    h3 {
      font-size: 50px;
      color: $green;
    }
    .col-md-3 {
      padding: 100px 10px;
    }
  }
  .section-5 {
    h1, h2 { color: $green }
    h2 { padding-top: 15px; }
    h3 { padding: 0px; }
    .row {
      .testimonial-images {
        img {
          width: 200px;
          height: 200px;
          border-radius: 100%;
        }
      }
      .offset-md-4.col-md-4.centered {
        padding-bottom: 50px;
      }
    }
  }
}


#skincare-wizard-modal {
  .modal-header {
    .count {
      position: absolute;
      right: 50px;
    }
  }
  .modal-body { min-height: 400px; }
  .question {
    padding-top: 60px;
    p {font-size: 20px;}
  }
  .selection {
    padding: 15px;
    -webkit-box-shadow: 0 0 5px #f0f0f0;
    -moz-box-shadow: 0 0 5px #f0f0f0;
    box-shadow: 0 0 5px #f0f0f0;
    &:hover { border: 1px solid $green; }
  }
  .active { border: 1px solid $green; }
}

.about {
  .headshot {
    img {
      width: 50%;
      border-radius: 100%;
    }
  }
  h1 { color: $green; }
	text-align: center;
	.profile-pics {
		img {
		width: 100%;
		}
	}
  .row {
    .about-us {
    padding: 100px 0px;
    }
  }
}

.contact {
  h1 { color: $green; }
	text-align: left;
  .alert { color: red; }
  input {
    width: 75%;
    padding: 3px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 4px;
  }
  textarea#messages_body {
      overflow: auto;
      resize: none;
      height: 200px;
      padding: 3px;
      box-sizing: border-box;
      border: 1px solid gray;
      border-radius: 4px;
      width: 75%;
    }
  input[type=submit] {
    background-color: $green;
    color: white;
    text-align: center;
  }
}

.faqs {
  h1,h2 { color: $green; }
  text-align: center;
  .questions {
    text-align: left;
  }
}

.order {
  // resize image for optimal page load speed
  .product { width: 400px; }
  .price {
    padding: 20px;
    border: 1px solid black;
  }
  .stripe-button {
    width: 100px;
    padding-top: 10px;
  }
}

.invoice {
  %hr { padding: 40px 0px;}
  h5 { padding: 10px 0px 20px 0px;}
}

.order {
  small { font-size: 10px; }
  h1 { padding: 20px 0px; }
}

.charges {
  .product { height: 850px; }
}

.checkout {
  .section-2 {
    background-color: $grey-background;
    margin-bottom: 30px;
  }
  .btn { margin: 20px 0px 10px 0px; }
  .container-fluid { padding-bottom: 20px; }
  .product { height: 200px; }
  h1 { padding: 20px 0px; }
  .cell {
    padding-top: 5px;
    border: 1px solid black;
    p { padding-top: 10px; }
  }
}