.container-fluid
  .row
    .col-md-12
      %h1.centered Payment Confirmation
      %hr
  .row.invoice
    .col-md-6
      %h5.centered Shipping Address
      .row
        .col-md-4.offset-md-2
          %p Email Address:
        .col-md-4.offset-md-1
          %p=@user.email

        .col-md-4.offset-md-2
          %p Order #:
        .col-md-4.offset-md-1
          %p=@invoice.invoice_number

        .col-md-4.offset-md-2
          %p Shipping Address:
        .col-md-4.offset-md-1
          %p=@user.address.address

        .col-md-4.offset-md-2
          %p Shipping City:
        .col-md-4.offset-md-1
          %p=@user.address.city

        .col-md-4.offset-md-2
          %p Shipping State:
        .col-md-4.offset-md-1
          %p=@user.address.state

        .col-md-4.offset-md-2
          %p Shipping Address:
        .col-md-4.offset-md-1
          %p United States
      %hr

      %h5.centered Billing Address
      .row
        .col-md-4.offset-md-2
          %p Shipping Address:
        .col-md-4.offset-md-1
          %p=@user.billing_address.address

        .col-md-4.offset-md-2
          %p Shipping City:
        .col-md-4.offset-md-1
          %p=@user.billing_address.city

        .col-md-4.offset-md-2
          %p Shipping State:
        .col-md-4.offset-md-1
          %p=@user.billing_address.state

        .col-md-4.offset-md-2
          %p Shipping Address:
        .col-md-4.offset-md-1
          %p United States

      %hr
      %h5.centered Payment
      .row
        .col-md-4.offset-md-2
          %p Subotal:
        .col-md-4.offset-md-1
          %p= session[:item] == "oneMonth" ? "$79.00" : "$147.00"

      .row
        .col-md-4.offset-md-2
          %p Tax:
        .col-md-4.offset-md-1
          %p= session[:item] == "oneMonth" ? "$7.30" : "$13.60"

      .row
        .col-md-4.offset-md-2
          %p Shipping:
        .col-md-4.offset-md-1
          %p FREE
      %hr
      .row
        .col-md-4.offset-md-2
          %h4 Total:
        .col-md-4.offset-md-1
          %h4= session[:item] == "oneMonth" ? "$86.30" : "$160.60"
      %br
    .col-md-6.centered
      = image_tag "product.jpg", class: "product"
