%footer
  .row
  %br
    .col-md-12
      = link_to "#" do
        %i.fa.fa-facebook.fa-2x
      = link_to "#" do
        %i.fa.fa-instagram.fa-2x
  %hr{width: "40%"}

  .row
    .col-md-12
      %p Copyright © 3toZen Inc., All rights reserved.
      %p San Francisco, CA