%nav.navbar.navbar-expand-md.navbar-light
    %button.navbar-toggler.navbar-toggler-right{type: "button", data: {toggle: "collapse", target: "#navbarNavAltMarkup"}, aria: {controls: "navbarNavAltMarkup", expanded: "false", label: "Toggle navigation"}}
        %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarNavAltMarkup
        .container
            .row
                .col-lg-2
                    = link_to image_tag( "logo.png"), root_path, class: "a navbar-brand.img-fluid"
                .col-lg-2.centered
                    = link_to "Contact Us", contact_path, class: "a nav-item nav-link"
                .col-lg-2.centered
                    = link_to "About", about_path, class: "a nav-item nav-link"
                -#.col-lg-2.centered
                    = link_to "FAQs", faqs_path, class: "a nav-item nav-link"
                
                -# .offset-lg-1.col-lg-1.centered.log-in
                -#     -if !user_signed_in?
                -#         = link_to "Log In", user_session_path
                -# .col-lg-2.log-out.centered
                -#     -if user_signed_in?
                -#         = link_to "Log Out", destroy_user_session_path, :method => :delete