%html
	%head
		%title 3toZen
		= csrf_meta_tags
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-77258470-5"></script>
		%script
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-77258470-5');

		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'


	%body{class: "#{controller_name} #{action_name}"}


		= render "layouts/navbar"

		= yield

		= render "layouts/footer"